



<%include ./partials/header%>
<h1>On <%=day%></h1>

<%var time1={t1:[1,7,13,19,25],t2:[2,8,14,20,26],t3:[3,9,15,21,27],t4:[4,10,16,22,28],t5:[5,11,23,29],t6:[6,12,24,30],t7:[31,37,43,49,55],t8:[32,38,44,50,56],t9:[33,39,45,51,57],t10:[34,40,46,52,58],t11:[35,41,47,53,59],t12:[36,42,48,54,60]};%>
<%var time=[[1,7,13,19,25],[2,8,14,20,26],[3,9,15,21,27],[4,10,16,22,28],[5,11,23,29],[6,12,24,30],[31,37,43,49,55],[32,38,44,50,56],[33,39,45,51,57],[34,40,46,52,58],[35,41,47,53,59],[36,42,48,54,60]];%>

<% guy.forEach(function(user){%>

    <h4><%=user.name%> is free at <%user.slots.forEach(function(slot){%>
                    <% for(var i=0;i<time.length;i++) {  
                         if(time[i].includes(slot)){  
                                 console.log("slot is : " +slot); 
                                 console.log("value of i is : " + i); %>
                               <%if(i==5){%>
                                        <%= 12 %> 
                               <% }
                                else if(i+8<13){%>  
                                        <%= i+8 %>  
                                <%      q=i+8;
                                console.log("value of i+8 is : " + q);      
                                break;
                                }           
                                      else{                       %>
                    <%=                  i-4            %> 
               <%                       q=i-4;
                                console.log("value of i-4 is : " + q);                        
                break;        
                                  }                   
                          }
                  }
    })%>
    
    </h4>

<%})%>

<%include ./partials/footer%>






